.start {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 5;
	background: rgb(255,255,255);
	background: radial-gradient(circle, rgba(255,255,255,1) 4%, rgba(116,120,109,1) 89%);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	font-family: 'game';
	padding: 20px 0 20px 0;
	animation: loading 7s forwards;
	border-radius: 5px;
}

.title {
	font-size: 68px;
	font-weight: 600;
	color: rgba(0,0,0,.55);
	text-shadow: 2px 4px rgba(255,2555,255,.35);
	text-align: center;
}

.title-size {
	font-size: 49px;
	text-shadow: 2px 4px rgba(255,2555,255,.35);
}

.instructions {
	padding: 14px;
	width: 80%;
	color: rgba(0,0,0,.65);
	border: 4px dashed rgba(0,0,0,.65);
	font-size: 1.5rem;
	border-radius: 3px;
	text-align: center;
	line-height: 1.5;
	margin-top: 10px;
}

.start-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 10px 10px 10px;
	background-color: rgba(0,0,0,.25);
	color: rgba(0,0,0,.65);
	box-shadow: 2px 4px grey;
	border-radius: 2px;
	font-size: 1rem;	
}

@keyframes loading {
	0% {
		opacity: 1;
	}
	70% {
		opacity: 1;
	}
  	100% {
  		opacity: 0;
  	}
}

@media (max-width: 600px) { 
	.start {
		border-radius: 20px;
	}

	.title {
		font-size: 32px;
	}

	.title-size {
		font-size: 23px;
	}

	.start-btn {
		font-size: .75rem;
		margin-top: 10px;
		padding: 10px 8px 8px 8px;
	}

	.instructions {
		padding: 10px;
		color: rgba(0,0,0,.65);
		font-size: .8rem;
		border: 2px dashed rgba(0,0,0,.65);
	}
}