.gold-right {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
	width: 154px;
	padding: 6px;
	margin-right: 30px;
	border-top: 5px double rgba(189, 151, 64,.9);
	border-right: 5px double rgba(171, 136, 55,1);
	border-bottom: 5px double rgba(171, 136, 55,.95);
	border-left: 5px double rgba(189, 151, 64,1);
	border-radius: 50%;
	box-shadow: inset 0 0 5px #000000;
	text-shadow: 2px 1px 1px rgba(0,0,0,.25);
	font-family: 'header';	
	font-size: 28px;
	text-align: center;
	background-image: linear-gradient(
		to right,
		#462523 0,
	    #cb9b51 12%, 
		#f6e27a 45%,
		#f6f2c0 50%,
		#f6e27a 58%,
		#cb9b51 78%,
		#462523 100%);
    color:transparent;
    -webkit-background-clip:text;
}

@media (max-width: 600px) { 
	.gold-right {
		font-size: 18px;
		height: 74px;
		width: 100px;
		border: 2px solid rgba(189, 151, 64,.9);
		margin: 7px;
	}
}