.header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 140px;
	width: 180px;
	border: 6px double rgba(171, 136, 55,.85);
	border-radius: 50%;
	box-shadow: 2px 1px 4px rgba(0, 0, 0,.85);
	text-shadow: 2px 2px 1px rgba(0,0,0,.10);
	font-family: 'header';	
	font-size: 30px;
	text-align: center;
	background-image: linear-gradient(
		to right,
		#462523 0,
	    #cb9b51 12%, 
		#f6e27a 45%,
		#f6f2c0 50%,
		#f6e27a 58%,
		#cb9b51 78%,
		#462523 100%
	);
    color:transparent;
    -webkit-background-clip:text;
}
