@font-face {
	font-family: 'header';
  	src: url('./fonts/header-font.otf') format('opentype');
}

.app {
	display: flex;
	width: 900px;
	height: 680px;
	border: 2px solid rgba(255,255,255,.05);
	border-radius: 35px;
	margin-top: 20px;
	padding-top: 38px;
	padding-left: 40px;
	background: rgb(62,63,64);
	background: radial-gradient(circle, rgba(62,63,64,1) 55%, rgba(46,47,48,1) 100%);
}

.game {
	width: 600px;
	height: 600px;
	min-width: 600px;
	min-height: 600px;
	background-image: url('./images/background.png');
	background-size: cover;
	background-repeat: no-repeat;
	border: 1px solid rgba(0,0,0,1);
	border-radius: 5px;
    position: relative;
	overflow: hidden;
	box-shadow: 4px 2px 3px rgba(255,255,255,.08);
}

.header-logo {
	width: 100%;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 40px;

}


@media (max-width: 600px) { 
	.app {
		width: 350px;
		height: 500px;
	}

	.game {
		width: 320px;
		height: 320px;
		margin-top: 10px;
		border-radius: 20px;
	}
}