.app {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.game {
	width: 600px;
	height: 600px;
	background-image: url('./images/background.png');
	background-size: cover;
	background-repeat: no-repeat;
	border: 1px solid black;
	border-radius: 30px;
    position: relative;
	margin-top: 20px;
	overflow: hidden;
}

.buttons {
	width: 66%;
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	place-items: center;
	gap: 10px 10px;
	grid-template-areas:
	    "up up up"
	    "left down right"
	    "spacebar spacebar spacebar";
	margin-top: 10px;
	background-color: powderblue;
}
.up { 
	grid-area: up; 
}

.left { 
	grid-area: left; 
}

.down { 
	grid-area: down; 
}

.right { 
	grid-area: right; 
}

.spacebar { 
	grid-area: spacebar; 
} 


@media (max-width: 600px) { 
	.game {
		width: 320px;
		height: 320px;
	}
}